/* Upcoming Events Section */
.event-upcoming-section {
  flex: 2;
  margin-right: 20px;
}

.event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
  font-style: italic;
}

/* .event-add
{
  display: flex;
  flex-direction: row;
} */

.event-add-btn {
  background-color: #1eb2a6ec;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 30px;
}

/* Event Toggle */
/* .event-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
} */

.event-header label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  margin-left: 140px;
  margin-top: 10px;
}

.event-header input[type="checkbox"] {
  margin-right: 10px;
}




.event-list {
  margin-top: 20px;
}

.event-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.349);
  max-width: 100%;
  max-height: 180px;
}

.event-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 15px;
}

.event-details {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.event-details h4
{
  font-size: 25px;
  font-style: italic;
}
.event-para-details
{
  margin-top: 22px;
}

.event-icon {
  margin-right: 8px;
}

.event-button {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  
}

.event-view-btn {
  background-color: #1eb2a6ec;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .event-header {
    font-size: 18px;
    flex-direction: column;
    align-items: flex-start;
  }

  .event-add-btn {
    margin-left: 0;
    margin-top: 10px;
  }

  .event-card {
    flex-direction: column;
    align-items: center;
  }

  .event-image {
    width: 100%;
    height: 180px; /* Adjust height for smaller screens */
  }
}

@media (max-width: 480px) {
  .event-header {
    font-size: 16px;
  }

  .event-details h4 {
    font-size: 18px;
  }

  .event-view-btn {
    padding: 6px 12px;
  }
}